@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* THEME MAIN COLORS */
:root {
  --background: #f4f4f5;
  --foreground: #4a5568;
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: #007bff;
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.5431 0.0927 194.7689);
  --secondary-foreground: oklch(0.1408 0.0044 285.8229);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: #9370DB;
  /* #6A5ACD */
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9197 0.0040 286.3202);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7090 0.1592 293.5412);
  --radius: 0.5rem;
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-display: 'Syne', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
  --font-sans: 'Exo 2', sans-serif;
  --font-nippo: 'Nippo', Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border box-border;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  h1, h2, h3 {
    font-family: var(--font-heading);
  }

  body {
    @apply m-0 bg-background text-foreground tracking-normal;
    font-family: var(--font-sans);
    overflow-x: clip;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: clip;
  }

  body::-webkit-scrollbar {
    width: 11px
  }

  body::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 1px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 1px;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    border-radius: 1px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--primary)
                      var(--background);
    }
  }
}

@layer utilities {
  /* Flex Classes */
  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-between-center {
    @apply flex justify-between items-center
  }
  .flex-section-center {
    @apply flex justify-center items-center flex-col;
  }
  /* Sections */
  .section-padding {
    @apply py-14;
  }
  /* Other Utility Classes */
  .sub-heading {
    @apply text-lg text-foreground/70 -mt-5 px-4 sm:px-0 text-center hover:scale-[1.02] transition-transform duration-300;
  }
  .scrolled-header {
    color: var(--foreground);
    border-left-width: 5px;
    transition: ease-out .3s;
  }
  .scrolled-header-button {
    background-color: var(--accent);
    transition: 0.3s;
  }
}
